<br />
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <div class="card bg-light mb-3">
        <div class="card-header bg-warning text-white text-uppercase"><i class="fa fa-list"></i> Danh mục</div>
        <ul class="list-group category_block">
          <li class="list-group-item"><a href="category.html">Tin tức</a></li>
          <li class="list-group-item"><a href="category.html">Hồ sơ KHTT</a></li>
          <li class="list-group-item"><a href="category.html">Hướng dẫn đăng ký KHTT</a></li>
          <li class="list-group-item"><a href="category.html">Điểm tích lũy</a></li>
          <li class="list-group-item"><a href="category.html">Tuyển dụng</a></li>
        </ul>
      </div>
      <br/>
      <div class="card bg-light mb-3">
        <div class="bg-danger">
          <div style="text-align: center;">
            <b>Đăng nhập KHTT</b>
          </div>
        </div>
        <form action="/action_page.php">
          <div class="form-group" >
            <b>*Mã thẻ:</b>
            <input type="text" class="form-control" id="email" placeholder="Mã thẻ" name="email">
          </div>
          <div class="form-group">
            <b>*Mật khẩu:</b>
            <input type="password" class="form-control" id="pwd" placeholder="Mật khẩu" name="pswd">
          </div>
          <button type="submit" class="btn btn-secondary">
                Đăng nhập
          </button>
        </form>
      </div>
      <br/>
      
    </div>
    <div class="col">
        <div class="row">
          <div class="col-sm-12">
            <h3>Thể lệ chương trình khách hàng thành viên</h3>
            <div style="text-align: center;">
              <img src="./assets/home/image/khach-hang-thanh-vien.gif" alt="khach-hang-thanh-vien" style="width: 100%;height: 70%;"/>
              <img src="./assets/home/image/quy-dinh-tich-diem-khtv.gif" alt="quy-dinh-tich-diem-khach-hang-thanh-vien" style="width: 100%;height: 70%;"/>
            </div>
           </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h4>1. Điều kiện duy trì cấp độ thẻ với những khách hàng có cấp độ thẻ Bạc, Vàng, Bạch kim trong năm 2019:</h4>
            <p style="text-align: justify;">
                Khách hàng Bạc (đạt cấp độ trước 01/01/2019) muốn duy trì cấp độ thẻ Bạc cần tích lũy ít nhất 1.000 Điểm mua hàng trong thời gian từ 01/01/2019 đến hết ngày 31/12/2020.<br/>
                Khách hàng Vàng (đạt cấp độ trước 01/01/2019) muốn duy trì cấp độ thẻ Vàng cần tích lũy ít nhất 2.000 Điểm mua hàng trong thời gian từ 01/01/2019 đến hết ngày 31/12/2020.<br/>
                Khách hàng Bạch kim (đạt cấp độ trước 01/01/2019) muốn duy trì cấp độ thẻ Bạch kim cần tích lũy ít nhất 5.000 Điểm mua hàng trong thời gian từ 01/01/2019 đến hết ngày 31/12/2020.</p>
            <h4>2. Điều kiện duy trì cấp độ thẻ với những khách hàng có cấp độ thẻ Bạc, Vàng, Bạch kim trong năm 2020:</h4>
            <p style="text-align: justify;">	
                Khách hàng Bạc (đạt cấp độ trước 01/01/2020) muốn duy trì cấp độ thẻ Bạc cần tích lũy ít nhất 1.000 Điểm mua hàng trong thời gian từ 01/01/2020 đến hết ngày 31/12/2020.<br/>
                Khách hàng Vàng (đạt cấp độ trước 01/01/2020) muốn duy trì cấp độ thẻ Vàng cần tích lũy ít nhất 2.000 Điểm mua hàng trong thời gian từ 01/01/2020 đến hết ngày 31/12/2020.<br/>
                Khách hàng Bạch kim (đạt cấp độ trước 01/01/2020) muốn duy trì cấp độ thẻ Bạch kim cần tích lũy ít nhất 5.000 Điểm mua hàng trong thời gian từ 01/01/2020 đến hết ngày 31/12/2020.</p>
            <h4>* Thời điểm thực hiện hạ cấp độ:</h4>
             <p style="text-align: justify;">
                Khách hàng sẽ hạ xuống cấp độ liền kề trước đó vào ngày 01/01/2021 cho cả 2 nhóm đối tượng khách hàng không đáp ứng đủ điều kiện quy định ở mục 1 và 2.
            </p>
             <h4>* QUY ĐỊNH:</h4>
             <p style="text-align: justify;">
                - Thẻ chỉ được cấp cho công dân Việt Nam có CMND, người nước ngoài có Passport hoặc tổ chức/ doanh nghiệp. Mỗi khách hàng chỉ sở hữu một (01) mã số thẻ.<br/>
                - Chương trình chỉ tính điểm khi khách hàng xuất trình thẻ lúc thanh toán. Chỉ chấp nhận thẻ do gốm sứ Trường An phát hành. Trong trường hợp khách hàng quên mang theo thẻ thì vui lòng trước khi mua hàng đến máy truy cập thông tin để in mã vạch dùng tạm thay thẻ trên.<br/>
                - Khách hàng vui lòng xuất trình thẻ khi nhận quyền lợi hoặc thẻ và CMND/ Passport khi thực hiện thủ tục hồ sơ. Trường hợp khách hàng là tổ chức/ doanh nghiệp, cá nhân đại diện phải xuất trình giấy giới thiệu.<br/>
                - Phần tiền thanh toán bằng chiết khấu thương mại sẽ không được tính điểm cũng như không được dùng để tham gia chương trình khuyến mãi khác.<br/>
                - Điểm và thông tin hồ sơ khách hàng được cập nhật chính xác sau khi phát sinh giao dịch 24 giờ.<br/>
                - Điểm có giá trị để xét cấp độ và quyền lợi cho một (01) năm (từ 01/01 đến 31/12). Sang năm tiếp theo thẻ được tái sử dụng để tích điểm.<br/>
                - Thẻ là tài sản của gốm sứ Trường An cấp cho khách hàng. Trường hợp mất thẻ, vui lòng liên hệ quầy dịch vụ tại cửa hàng đăng ký sinh hoạt để làm thủ tục cấp lại thẻ với chi phí 10.000/ thẻ nhựa, thẻ Bạch Kim được in lại miễn phí 10 lần/ năm.<br/>
                - Thẻ không phát sinh doanh số trong một (01) năm sẽ bị khoá và loại khỏi chương trình.<br/>
                - Gốm sứ Trường An không chịu trách nhiệm giải quyết các quyền lợi của khách hàng nếu thông tin hồ sơ do khách hàng cung cấp không đầy đủ và chính xác hoặc nếu quá thời hạn nhận quyền lợi theo quy định tại thể lệ chương trình.<br/>
                - Gốm sứ Trường An được quyền chấm dứt việc sử dụng thẻ của khách hàng khi đã giải quyết xong các quyền lợi liên quan đến điểm tích luỹ của khách hàng. Nếu phát hiện xảy ra tiêu cực trong việc sử dụng thẻ Saigon Co.op có quyền ngưng việc sử dụng cũng như thu hồi thẻ của Khách hàng.<br/>
                - Thể lệ chương trình có thể được thay đổi không cần báo trước.
                - Mọi thắc mắc vui lòng liên hệ quầy Dịch Vụ tại cửa hàng hoặc qua Đường Dây Nóng: 1900 55 55 68<br/>
                - Bằng việc ký vào phiếu thông tin này, quý khách hàng đã đồng ý cho siêu thị được phép sử dụng những thông tin được cung cấp trên phiếu này cũng như mọi thông tin phát sinh trong quá trình Quý khách hàng tích luỹ và sử dụng điểm.
                <b>Siêu thị cam kết giữ bí mật những thông tin trên.</b>
             </p>
            </div>
        </div>
        <div class="col-12">
          <nav aria-label="...">
            <ul class="pagination">
            </ul>
          </nav>
        </div>
      </div>
    </div>
</div>