<br />
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-warning text-white text-uppercase"><i class="fa fa-list"></i> Danh mục</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a [routerLink]="['/news']" routerLinkActive="router-link-active">Tin tức</a></li>
                    <li class="list-group-item"><a [routerLink]="['/profile']" routerLinkActive="router-link-active">Hồ sơ KHTT</a></li>
                    <li class="list-group-item"><a [routerLink]="['/regis-cus-tutorial']" routerLinkActive="router-link-active">Hướng dẫn đăng ký KHTT</a></li>
                    <li class="list-group-item"><a [routerLink]="['/acculative-points']" routerLinkActive="router-link-active">Điểm tích lũy</a></li>
                    <li class="list-group-item"><a [routerLink]="['/recruitment']" routerLinkActive="router-link-active">Tuyển dụng</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm-12">
                    <h2 style="font-size: 150%;">Tổng đài chăm sóc khách hàng</h2>
                    <p>Nhằm nâng cao khả năng phục vụ trong việc giải đáp thắc mắc và tiếp nhận góp ý của khách hàng, kể
                        từ ngày 16/05/2013, đường dây nóng (08) 38 360999 sẽ được nâng cấp lên thành:</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div style="text-align: center;">
                        <img src="./assets/home/image/tongdai.gif" alt="tong-dai" style="width: 60%;height: 40%;" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div style="text-align: center;">
                        <img src="./assets/home/image/giohoatdong.gif" alt="gio-hoat-dong" style="width: 60%;height: 40%;" />
                    </div>
                </div>
                <div class="col-sm-5">
                   <p>Cập nhật thông tin mới nhất về hoạt động của Co.opmart.<br/>
                    - Cách nhanh nhất để liên hệ đến các siêu thị trong hệ thống Co.opmart.<br/>
                    - Thời gian phục vụ mở rộng trong suốt giờ mở cửa của siêu thị.<br/>
                    - Đội ngũ điện thoại viên ân cần, chu đáo.</p>
                </div>
            </div>
            <div class="col-12">
                <nav aria-label="...">
                    <ul class="pagination">
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <b style="color: blue;">Tin tức liên quan</b>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p style="color: blue;">Tin </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>