<br />
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-warning text-white text-uppercase"><i class="fa fa-list"></i> Danh mục</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a [routerLink]="['/news']" routerLinkActive="router-link-active">Tin
                            tức</a></li>
                    <li class="list-group-item"><a [routerLink]="['/profile']" routerLinkActive="router-link-active">Hồ
                            sơ KHTT</a></li>
                    <li class="list-group-item"><a [routerLink]="['/regis-cus-tutorial']"
                            routerLinkActive="router-link-active">Hướng dẫn đăng ký KHTT</a></li>
                    <li class="list-group-item"><a [routerLink]="['/acculative-points']"
                            routerLinkActive="router-link-active">Điểm tích lũy</a></li>
                    <li class="list-group-item"><a [routerLink]="['/recruitment']"
                            routerLinkActive="router-link-active">Tuyển dụng</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm-12">
                    <h3 style="font-size: 200%; color:red;">Phiếu mua hàng gốm Trường An - Thỏa sức lựa chọn</h3>
                    <p style="text-align: justify;">
                        Một món quà giá trị nếu không được trao tặng với lòng trang trọng và tình cảm chân thành. Một
                        món quà ý nghĩa nhằm tăng thêm tính hiện đại và tinh tế trong phong cách tặng quà của quý khách
                        hàng, cửa hàng gốm sứ Trường An xin giới thiệu đến quý khách hình thức mua
                        sắm mới, hữu hiệu và tiện dụng - Phiếu Mua hàng.
                        Quý khách có thể sử dụng Phiếu Mua hàng để làm quà tặng thiết thực, ý nghĩa gửi đến
                        những người thân yêu, bạn bè, khách hàng và đối tác vào những dịp lễ, Tết, sinh nhật, ngày kỷ
                        niệm…
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4 style="font-size: 120%; font-weight: Bold; color: crimson;">Ưu thế phiếu mua hàng:</h4>
                    <p style="text-align: justify;">
                        • Giải pháp tặng quà hữu hiệu của cá nhân và doanh nghiệp.<br/>
                        • Bạn không cần phải so sánh, lựa chọn mà vẫn có được món quà như ý cho người nhận.<br/>
                        • Doanh nghiệp có thể dùng phiếu mua hàng để thực hiện các chương trình khuyến mãi cho
                        khách hàng, tặng quà cho đối tác… tiết kiệm thời gian, công sức, chi phí lưu kho và vận chuyển…<br/>
                        • Mức chiết khấu hấp dẫn khi mua số lượng nhiều.<br/>
                        • Quy trình đặt Phiếu mua hàng nhanh chóng, tiện lợi, giao phiếu tận nơi (số lượng lớn).
                    </p>
                    <h4 style="font-size: 120%; font-weight: Bold; color: crimson;">Niềm vui nhận quà:</h4>
                    <p style="text-align: justify;">
                        • Thiết thực, tiện lợi phù hợp cho tất cả mọi người.<br/>
                        • Với phiếu mua hàng Co.opmart quý khách có thể thỏa sức chọn lựa sản phẩm mình yêu thích, tại
                        hệ thống của hàng trên toàn quốc.
                    </p>
                    <h4 style="font-size: 120%; font-weight: Bold; color: crimson;">Mệnh giá:</h4>
                    <p style="text-align: justify;">
                        • Có các mệnh giá: 50.000đ, 100.000đ, 200.000đ, 500.000đ
                    </p>
                </div>
            </div>
            <div class="col-12">
                <nav aria-label="...">
                    <ul class="pagination">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>