<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">GỐM SỨ TRƯỜNG AN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/promotion']" routerLinkActive="router-link-active">Khuyến mãi<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/news']" routerLinkActive="router-link-active">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/service']" routerLinkActive="router-link-active">Dịch vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">Liên hệ</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a [routerLink]="['/registration']" routerLinkActive="router-link-active" style="margin-left: 10px;"> Đăng ký | </a><a style="margin-left: 5px;" [routerLink]="['/login']" routerLinkActive="router-link-active">Đăng nhập</a>
            </form>
        </div>
    </div>
</nav>
