<br />
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <div class="card bg-light mb-3">
        <div class="card-header bg-warning text-white text-uppercase"><i class="fa fa-list"></i> Danh mục</div>
        <ul class="list-group category_block">
          <li class="list-group-item"><a [routerLink]="['/news']" routerLinkActive="router-link-active">Tin tức</a></li>
            <li class="list-group-item"><a [routerLink]="['/profile']" routerLinkActive="router-link-active">Hồ sơ KHTT</a></li>
            <li class="list-group-item"><a [routerLink]="['/regis-cus-tutorial']" routerLinkActive="router-link-active">Hướng dẫn đăng ký KHTT</a></li>
            <li class="list-group-item"><a [routerLink]="['/acculative-points']" routerLinkActive="router-link-active">Điểm tích lũy</a></li>
            <li class="list-group-item"><a [routerLink]="['/recruitment']" routerLinkActive="router-link-active">Tuyển dụng</a></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div style="text-align: center;"><img class="card-img-top" src="./assets/home/image/qua_tang.jpg" alt="goi-qua-mien-phi" style="width: 50%;height: 50%;"></div>
            <div class="card-body">
              <h5 class="card-title"><a href="product.html" title="View Product">Quà tặng</a></h5>
              <p class="card-text">Gói quà miễn phí.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div style="text-align: center;"><img class="card-img-top" src="./assets/home/image/phieu_ban_hang.jpg" alt="phieu-ban_qua_tang" style="width: 50%;height: 50%;"></div>
            <div class="card-body">
              <h5 class="card-title"><a href="product.html" title="View Product">Phiếu quà tặng</a></h5>
              <p class="card-text">Bán phiếu quà tặng</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div style="text-align: center;"><img class="card-img-top" src="./assets/home/image/dat_hang_qua_dien_thoai.jpg" alt="dat-hang-qua-dien-thoai" style="width: 50%;height: 50%;"></div>
            <div class="card-body">
              <h5 class="card-title"><a href="product.html" title="View Product">Nhận đặt hàng</a></h5>
              <p class="card-text">Nhận đặt hàng qua điện thoại</p>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div style="text-align: center;"><img class="card-img-top" src="./assets/home/image/doi_ta_hang.jpg" alt="doi_tra_hang" style="width: 50%;height: 50%;"></div>
            <div class="card-body">
              <h5 class="card-title"><a href="product.html" title="View Product">Đổi trả hàng</a></h5>
              <p class="card-text">Đổi trả hàng nếu lỗi.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div style="text-align: center;"><img class="card-img-top" src="./assets/home/image/giao_hang_tan_nha.jpg" alt="doi_tra_hang" style="width: 38%;height: 38%;"></div>
            <div class="card-body">
              <h5 class="card-title"><a href="product.html" title="View Product">Giao hàng tận nhà</a></h5>
              <p class="card-text">Hóa đơn 2.000.000 trở lên.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
              <div style="text-align: center;"><img class="card-img-top" src="./assets/home/image/khach_hang_than_thiet.jpg" alt="khach_hang_than_thiet" style="width: 45%;height: 45%;"></div>
              <div class="card-body">
                <h5 class="card-title"><a href="product.html" title="View Product">Khách hàng thân thiết</a></h5>
                <p class="card-text">Chương trình KHTT.</p>
              </div>
            </div>
        </div>
     </div>
     <br/>
     <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <div style="text-align: center;"><img class="card-img-top" src="./assets/home/image/hoa_dan_vat.jpg" alt="hoa_don_vat" style="width: 37%;height: 37%;"></div>
          <div class="card-body">
            <h5 class="card-title"><a href="product.html" title="View Product">Hóa đơn</a></h5>
            <p class="card-text">Hóa đơn VAT</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <div style="text-align: center;"><img class="card-img-top" src="./assets/home/image/cham_soc_khach_hang.jpg" alt="cham_soc_khach_hang" style="width: 45%;height: 45%;"></div>
          <div class="card-body">
            <h5 class="card-title"><a href="product.html" title="View Product">Chăm sóc khách hàng</a></h5>
            <p class="card-text">Tổng đài CSKH 1900555568</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div style="text-align: center;"><img class="card-img-top" src="./assets/home/image/thanh_toan_bang_the.gif" alt="thanh_toan_bang_the" style="width: 50%;height: 50%;"></div>
            <div class="card-body">
              <h5 class="card-title"><a href="product.html" title="View Product">Thanh toán</a></h5>
              <p class="card-text">Thanh toán bằng thẻ.</p>
            </div>
          </div>
      </div>
   </div>
        <div class="col-12">
          <nav aria-label="...">
            <ul class="pagination">
              <!-- <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li> -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
</div>