<br />
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <div class="card bg-light mb-3">
        <div class="card-header bg-warning text-white text-uppercase"><i class="fa fa-list"></i> Danh mục</div>
        <ul class="list-group category_block">
          <li class="list-group-item"><a [routerLink]="['/news']" routerLinkActive="router-link-active">Tin tức</a></li>
            <li class="list-group-item"><a [routerLink]="['/profile']" routerLinkActive="router-link-active">Hồ sơ KHTT</a></li>
            <li class="list-group-item"><a [routerLink]="['/regis-cus-tutorial']" routerLinkActive="router-link-active">Hướng dẫn đăng ký KHTT</a></li>
            <li class="list-group-item"><a [routerLink]="['/acculative-points']" routerLinkActive="router-link-active">Điểm tích lũy</a></li>
            <li class="list-group-item"><a [routerLink]="['/recruitment']" routerLinkActive="router-link-active">Tuyển dụng</a></li>
        </ul>
      </div>
    </div>
    <div class="col">
        <div class="row">
          <div class="col-sm-12">
          <h2 style="font-size: 150%;">Thông tin của hàng</h2>
          <p>Xưởng sản xuất gốm sứ Quân Quỳnh - Gốm Trường An </p>
          <p>Email: gomtruongan@gmail.com</p>
          <p>Website: https://gomtruongan.vn/</p>
          <p>Hotline: 08.6688.5552</p>
          <p>Địa chỉ: Số 1 ngõ 239 Thôn 4, Giang Cao, Bát Tràng, Gia Lâm, Hà Nội</p>
          <p>Xưởng sản xuất: Số 210 Thôn 5, Giang Cao, Bát Tràng, Gia Lâm, Hà Nội</p>
          </div>
        </div>
        <div class="col-12">
          <nav aria-label="...">
            <ul class="pagination">
            </ul>
          </nav>
        </div>
      </div>
    </div>
</div>