<br />
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-warning text-white text-uppercase"><i class="fa fa-list"></i> Danh mục</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="category.html">Tin tức</a></li>
                    <li class="list-group-item"><a href="category.html">Hồ sơ KHTT</a></li>
                    <li class="list-group-item"><a href="category.html">Hướng dẫn đăng ký KHTT</a></li>
                    <li class="list-group-item"><a href="category.html">Điểm tích lũy</a></li>
                    <li class="list-group-item"><a href="category.html">Tuyển dụng</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm-12">
                    <h2 style="font-size: 150%; color: blue;">Hướng dẫn đăng ký tham gia chương trình Khách hàng thân thiết online</h2>
                    <p style="color:crimson;">Dành cho khách hàng chưa tham gia chương trình Khách hàng thân thiết</p>
                    <p style="font-family: bold;color: crimson;">Bước 1:</p>
                    <p>Quý khách hàng vào Trang chủ website gomtruongan.com, chọn "Đăng ký" tại góc trên phải của màn hình (xem hình minh họa bên dưới):</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div style="text-align: center;">
                        <img src="./assets/home/image/dang-ki1.PNG" alt="dang ki" style="width: 80%;height: 80%;" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p style="font-family: bold;color: crimson;">Bước 2:</p>
                    <p>Quý khách tiến hành nhập các thông tin cần thiết cho việc đăng ký (nhập đầy đủ và chính xác thông tin yêu cầu trên form) theo hình minh họa bên dưới:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div style="text-align: center;">
                        <img src="./assets/home/image/dang-ki2.PNG" alt="dang ki" style="width: 80%;height: 80%;" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p style="font-family: bold;color: crimson;">Bước 3:</p>
                    <p>Sau đó, Quý khách hàng kiểm tra hộp thư (Email), thực hiện các yêu cầu trong hộp thư để hoàn tất quá trình đăng ký.</p>
                    <p style="font-family: bold;color: crimson;">Bước 4:</p>
                    <p>Chương trình kiểm tra thông tin của khách hàng, sau 48 giờ, hệ thống gửi thư (Email) thông tin đến khách hàng, bao gồm: mã thẻ 7 số (còn gọi là Tên tài khoản), mật khẩu đăng nhập website, siêu thị đăng ký sinh hoạt.</p>
                    <p style="font-family: bold;color: crimson;">Bước 5:</p>
                    <p>Quý khách hàng có thể xem thông tin cá nhân, thông tin điểm tích lũy,... trên website thông qua tài khoản của Quý khách(xem hình minh họa bên dưới). </p>
                    <div style="text-align: center;">
                        <img src="./assets/home/image/dang-nhap.PNG" alt="dang ki" style="width: 80%;height: 80%;" />
                    </div>
                </div>
            </div>
            <div class="col-12">
                <nav aria-label="...">
                    <ul class="pagination">
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <b style="color: blue;">Tin tức liên quan</b>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p style="color: blue;">Tin </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>