<style>
  .td1{
    text-align: center;
    font-weight: bold;
    width: 100%;
  }
  .td2{
    font-weight: bold;
    color: crimson;
  }
</style>
<section class="w3l-form-36" >
  <div class="form-36-mian section-gap">
    <div class="wrapper">
      <div class="form-inner-cont">
        <div class="container">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <td colspan="2" class="td1">Thông tin điểm tích lũy của khách hàng</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="td1">Họ tên</td>
                <td class="td2">Lê Văn Long</td>
              </tr>
              <tr>
                <td class="td1">Email</td>
                <td  class="td2">levanlong99pchy@gmail.com</td>
              </tr>
              <tr>
                <td class="td1">SĐT</td>
                <td  class="td2">098765432</td>
              </tr>
              <tr>
                <td class="td1">STK</td>
                <td  class="td2">1023456789</td>
              </tr>
              <tr>
                <td class="td1">Điểm TL</td>
                <td  class="td2">5000</td>
              </tr>
              <tr>
                <td class="td1">Quy đổi</td>
                <td  class="td2">200000 đ</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>