<br />
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <div class="card bg-light mb-3">
        <div class="card-header bg-warning text-white text-uppercase"><i class="fa fa-list"></i> Danh mục</div>
        <ul class="list-group category_block">
          <li class="list-group-item"><a [routerLink]="['/news']" routerLinkActive="router-link-active">Tin tức</a></li>
            <li class="list-group-item"><a [routerLink]="['/profile']" routerLinkActive="router-link-active">Hồ sơ KHTT</a></li>
            <li class="list-group-item"><a [routerLink]="['/regis-cus-tutorial']" routerLinkActive="router-link-active">Hướng dẫn đăng ký KHTT</a></li>
            <li class="list-group-item"><a [routerLink]="['/login']" routerLinkActive="router-link-active">Điểm tích lũy</a></li>
            <li class="list-group-item"><a [routerLink]="['/recruitment']" routerLinkActive="router-link-active">Tuyển dụng</a></li>
        </ul>
      </div>
    </div>
    <div class="col">
        <div class="row">
          <div class="col-sm-12">
          <h3 style="font-size: 200%; color:red;">Giới thiệu về gốm sứ Trường An</h3>
            <h4 style="font-size: 150%; font-family: Bold;">1. Lịch sử hình thành</h4>
            <p style="text-align: justify;">Gốm sứ Linh Cảnh (tên thương hiệu giao dịch Gốm Trường An) có bề dày sản xuất gốm sứ từ năm 1992 với sự kế thừa từ kinh nghiệm sản xuất gốm sứ thủ công từ đời ông cha truyền lại. Gốm Trường An có sứ mệnh mang đến tay người tiêu dùng những sản phẩm gốm sứ Bát Tràng chính hãng cao cấp hơn, dịch vụ trước và sau bán hàng tốt hơn. Ban đầu xuất phát điểm là Thương Hiệu Gốm Sứ Quân Quỳnh có kinh nghiệm sản xuất trên 30 năm được truyền lại từ đời ông cha. Gốm sứ Linh Cảnh vẫn đang tiếp nối và phát huy truyền thống gia đình quý báu trong sản xuất cũng như thương mại hóa sản phẩm do chính tay chúng tôi tạo ra mà không cần qua kênh phân phối trung gian nào khác. Ưu điểm là được biết rõ nguồn gốc xuất sứ, giá thành rất hợp lý.</p>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-12">
            <div style="text-align: center;">
              <img src="./assets/home/image/cua-hang-gom-truong-an.jpg" alt="cua-hang-gom-su-truong-an" style="width: 60%;height: 40%;"/>
            </div>
           </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p style="text-align: justify;">
              Ngày xưa phương thức sản xuất chủ yếu là đun lò củi, đắp đất, đun củi rơm sau chuyển sang lò hộp (đun củi). Và vào năm 2001, chúng tôi chuyển hẳn sang sản xuất bằng lò gas tiết kiệm chi phí và giảm thiểu tối đa ô nhiễm môi trường, tăng năng suất sản xuất lên gấp 5-6 lần so với ban đầu.Chúng tôi tự tin có thể đáp ứng được hợp đồng của quý khách hàng với số lượng nhiều và trong thời gian hợp lý nhất (đôi bên thống nhất) nhưng vẫn đảm bảo chất lượng sản phẩm.<br/> Chúng tôi chuyên sản xuất và kinh doanh mặt hàng gốm sứ như ấm chén, bát đĩa, lộc bình, lọ hoa, chum sành, chậu… những đồ gia dụng sinh hoạt hàng ngày cho đến sản xuất các sản phẩm quà tặng quà biếu, hội nghị đại hội như ấm chén, ca cốc in logo số lượng lớn.
            </p>
            <h4 style="font-size: 150%; font-family: Bold;">2. Tầm nhìn</h4>
            <p style="text-align: justify;">Trở thành thương hiệu gốm sứ hàng đầu Việt Nam về chất lượng sản phẩm lẫn dịch vụ trong nghề.</p>
            <h4 style="font-size: 150%; font-family: Bold;">3. Sứ mệnh</h4>
            <p style="text-align: justify;">Gốm Trường An cam kết mang đến cho khách hàng sản phẩm gốm sứ chất lượng cao cấp hàng đầu bằng chính sự trân trọng, tình yêu và trách nhiệm cao của đội ngũ tập thể nhân viên chúng tôi.</p>
            <h4 style="font-size: 150%; font-family: Bold;">4. Giá trị cốt lõi</h4>
             <p style="text-align: justify;">Điểm đặc biệt mà Gốm Trường An luôn tự hào là tạo ra những sản phẩm gốm sứ cao cấp, đậm đà văn hóa và mang giá trị nghệ thuật cao. Với thông điệp “Tinh hoa - Niềm Tin - Sáng Tạo”, mang “Gốm Việt trong từng nếp nhà”. Trong đó Sáng Tạo là yếu tố "sống còn" mà lãnh đạo luôn nhắc nhở chúng tôi.<br/>
              Sản phẩm Gốm Trường An hội tụ vẻ đẹp của gốm sứ truyền thống nổi tiếng Bát Tràng hàng nghìn năm đồng thời đảm bảo tiêu chí 4 không: Không thời gian, Không biên giới, Không giới tính, Không tuổi tác. Và 4 có: Có văn hóa, Có nghệ thuật, Có phong cách và Có hồn.<br/>
              Ý thức rất rõ về lòng tự tôn dân tộc nên những người làm nghề luôn dành tâm sức để khắc họa tinh tế những nét đẹp văn hóa, hình ảnh quê hương đậm bản sắc truyền thống Việt Nam và các nền văn hóa của các nước trên thế giới, giúp cho những sản phẩm vẫn giữ được nét đặc trưng nhưng có phong cách.</p>          
             <h4 style="font-size: 150%; font-family: Bold;">5.Ý nghĩa tên thương hiệu</h4>
             <p style="text-align: justify;">Để hiểu hơn về gốm Trường An thì trước hết, tôi sẽ giới thiệu cho quý khách ý nghĩa của tên gọi “Trường An”.
              Trường An có nghĩa là "Bình yên bền lâu" trong tiếng Hán. Chính vì ý nghĩa đó mà Gốm Trường An ra đời với mong muốn sản phẩm cũng như thương hiệu Trường Tồn, Bình An mãi mãi.</p>
            <h4 style="font-size: 150%; font-family: Bold;">6. Mục tiêu</h4>
            <p style="text-align: justify;">Những sản phẩm của Gốm Trường An đa dạng về mẫu mã, kiểu dáng, hoa văn từ dòng sứ dùng cho gia đình, dòng sản phẩm chuyên dùng cho nhà hàng, khách sạn bát đĩa, ca cốc đến dòng sản phẩm thờ cúng, quà tặng lưu niệm, mỹ thuật trang trí, trang sức…<br/>
              Tất cả đều được sản xuất thủ công bằng tay 100%, từng nét vẽ nét bút của người thợ bay bổng tạo nên sự độc đáo rất riêng mà không cái nào giống cái nào. Nguyên liệu đầu vào tuyển chọn từ đất, men màu cho đến gas (nguyên liệu đun đốt), nung nhiệt độ lên đến 1300 độ C đều đem lại cho chúng ta sản phẩm sành sứ rắn chắc, cứng cáp, màu bền mãi mãi với thời gian.<br/>
              Gốm Trường An được hình thành với mục đích nhằm rút ngắn khoảng cách của người tiêu dùng trong việc tìm kiếm sản phẩm đẹp. Giới thiệu và đưa ra những lời khuyên tốt nhất và giá cũng như chất lượng phù hợp cho quý khách.<br/>
              <b>Sự hài lòng của khách hàng về sản phẩm, dịch vụ là sự thúc đẩy phát triển của chúng tôi.</b>
            </p>
            </div>
        </div>
        <div class="col-12">
          <nav aria-label="...">
            <ul class="pagination">
            </ul>
          </nav>
        </div>
      </div>
    </div>
</div>