<br />
<div class="container">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div style="text-align: center;">
          <img src="./assets/home/image/banner-dai-hoi-dang.jpg" alt="dai-hoi-dang">
        </div>
      </div>
      <div class="carousel-item">
        <div style="text-align: center;">
          <img src="./assets/home/image/banner-dai-hoi-dang.jpg" alt="dai-hoi-dang">
        </div>      
      </div>
      <div class="carousel-item">
        <div style="text-align: center;">
          <img src="./assets/home/image/banner-dai-hoi-dang.jpg" alt="dai-hoi-dang">
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-sm bg-secondary justify-content-right">
        <ul class="navbar-nav">
          <li class="nav-item">
            <div class="dropdown">
              <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                Trang chủ
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                Khuyến mãi
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                Khách hàng thân thiết
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                Dịch vụ
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                Liên hệ
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <br />
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3">
        <div class="card bg-light mb-3">
          <div class="card-header bg-warning text-white text-uppercase"><i class="fa fa-list"></i> Danh mục</div>
          <ul class="list-group category_block">
            <li class="list-group-item"><a href="category.html">Tin tức</a></li>
            <li class="list-group-item"><a href="category.html">Hồ sơ KHTT</a></li>
            <li class="list-group-item"><a href="category.html">Hướng dẫn đăng ký KHTT</a></li>
            <li class="list-group-item"><a href="category.html">Điểm tích lũy</a></li>
            <li class="list-group-item"><a href="category.html">Tuyển dụng</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><a href="product.html" title="View Product">Product title</a></h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><a href="product.html" title="View Product">Product title</a></h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><a href="product.html" title="View Product">Product title</a></h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><a href="product.html" title="View Product">Product title</a></h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><a href="product.html" title="View Product">Product title</a></h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><a href="product.html" title="View Product">Product title</a></h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>